@model TransaccionActulizacionViewModel

@{
    ViewData["Title"] = "Editar Transacción";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h1>Editar Transacción</h1>
<form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MontoAnterior"/>
    <input type="hidden" asp-for="CuentaAnteriorId"/>
    <div class="mb-3">
        <label asp-for="Fecha"></label>
        <input asp-for="Fecha" class="form-control"/>
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CuentaId"></label>
        <select asp-for="CuentaId" asp-items="Model.Cuentas" class="form-control"></select>
        <span asp-validation-for="CuentaId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TipoOperacionId" class="form-label"></label>
        <select asp-for="TipoOperacionId" asp-items="@Html.GetEnumSelectList<TipoOperacion>()" class="form-select"></select>
        <span asp-validation-for="TipoOperacionId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoriaId"></label>
        <select asp-for="CategoriaId" asp-items="Model.Categorias" class="form-control"></select>
        <span asp-validation-for="CategoriaId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Monto"></label>
        <input asp-for="Monto" class="form-control"/>
        <span asp-validation-for="Monto" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Nota"></label>
        <textarea asp-for="Nota" class="form-control"></textarea>
        <span asp-validation-for="Nota" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-action="Eliminar" asp-route-id="@Model.Id" class="btn btn-danger">Eliminar</a>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/js/FormularioTransacciones.js"></script>
    
    <script>
        const urlObtenerCategorias = '@Url.Action("ObtenerCategorias","Transacciones")';
        
        $(function(){
            inicializarFormularioTransacciones(urlObtenerCategorias);
        })
    </script>
}
</body>
</html>