@model IEnumerable<Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
<h1>Categorias</h1>
<a class="btn btn-primary" asp-action="Crear">Crear</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Operación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Categoria categoria in Model)
        {
            <tr>
                <td>@categoria.Nombre</td>
                <td>@categoria.TipoOperacionId</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@categoria.Id" class="btn btn-warning">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a asp-action="Eliminar" asp-route-id="@categoria.Id" class="btn btn-danger">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>   
        }
    </tbody>
</table>
</body>
</html>