@{
    ViewData["Tittle"] = "No encontrado";
}

<!DOCTYPE html>
<html>
<head>
    <title>No Encontrado</title>
</head>
<body>
<div>
    <h1>El recursos solicitado no ha sido encontrado </h1>
    <a asp-action="Index" asp-controller="TiposCuentas">Click aquí para regresar al home</a>
</div>
</body>
</html>