@model TipoCuenta

@{
    ViewData["Tittle"] = "Eliminar tipo cuenta";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h1>¿Está seguro que deseas elimiar la cuenta @Model.Nombre?</h1>
<form asp-action="EliminarTipoCuenta" asp-controller="TiposCuentas">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
</body>
</html>